.submit-form-pets-main-info-wrapper,
.submit-form-coordinates-wrapper{
    display: flex;
    justify-content: space-between;
}

.submit-form-upload-photo-wrapper{
    display: flex;
    align-self: center;
    justify-content: center;
    width: 50%;
}

.submit-form-pets-main-info{
    width: 50%;
}

@media screen and (max-width:600px){
    .submit-form-pets-main-info-wrapper{
        display: block;
    }
    .submit-form-pets-main-info{
        width: 100%;
    }
    .submit-form-upload-photo-wrapper{
        display: flex;
        align-self: center;
        justify-content: center;
        width: 100%;
    }
}

.submit-form-colour-prompt{
    display: flex;
}

.submit-form-colour-prompt-block{
    width: 20px;
    margin-right: 5px;
}

.submit-form-additional-info-wrapper{
    margin-bottom: 10px;
}

.submit-form-upload{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.submit-form-upload-button{
    margin-top: 10px !important;
    width: 100%;
}

.submit-form-container{
    margin-top: 70px;
}

.submit-form-header{
    text-align: center;
    margin-top: 85px;
    margin-bottom: 15px;
}

.submit-form-additional-info-header{
    margin-top: 50px;
    margin-bottom: -10px;
}